h1{
    color: #FFFFFF;
}
p{
    border: solid;
}
.header{
    display: flex;
    justify-content: space-between;
}
.MyGames{
color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.socialmedia{

    display: flex;
    justify-content:  flex-end;
}
body{
    background-color: #FFFFFF;
}